
body {
    background-color: white;
    background-image: url(images/background.png);
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
 }

li {
    color: rgb(28, 28, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

div {
    background-color: #e9e9e9;
    border-color: rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 0px 5px 15px 1px rgba(31, 31, 31, 0.124);
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
    border-style:solid;
    border-width: 1px;
    border-color: #cbcbcb;
    out
}

.contact {
background-color:#e9e9e9;
text-align: center;
margin-top: 0px;
}

a {
    color: blueviolet;
}

a:hover {
    color:rgb(0, 129, 146)
}

a.button {
    border: #696969;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    margin-top: 0px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

header {
    text-align: center;
}

img:hover {
    filter: blur(.7px)
}

.highlight {
    color: aqua;
}
TEST